@font-face {
    font-family: 'play-bold';
    src: url('../fonts/play-bold/play-bold.woff2') format('woff2'),
        url('../fonts/play-bold/play-bold.woff') format('woff');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto-regular/roboto-regular.woff') format('woff');
}








